@model StudentPortal.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3> Request Id: @Model.RequestId </h3>
<h3> Response code: @Model.ResponseCode </h3>
<table>
    <tr>
        <th>
            Error
        </th>
        <th>
            Error Details
        </th>
    </tr>
@foreach (var error in Model.Errors)
{
        <tr><td>@error.Code</td></tr>
        <tr><td>@error.Message</td></tr>
}
</table>


